.jp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 28px;
  background: #fff;
  border-radius: 0 0 7px 7px;
  border-bottom: 2px solid #e9ecef;
  box-sizing: border-box;
  font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
  margin-bottom: 2px;
}

.jp-title {
  font-family: 'Roboto Mono', 'Source Code Pro', monospace;
  color: #282c34;
  font-size: 1.34em;
  font-weight: 700;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}
.jp-logo {
  font-size: 28px;
  margin-right: 8px;
}

@media (max-width: 700px) {
  .jp-header {
    padding: 0 10px;
    font-size: 0.96em;
  }
}
